.page {
  block-size: min-content;
  font-family: var(--font-project), sans-serif;
  font-size: var(--text-size-project);
  font-variation-settings: "wght" var(--text-weigh);
  background-image: var(--bg-gradient);
  background-attachment: fixed;
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: "Inter", sans-serif;
  }
}

.header {
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: var(--accent-font), fantasy, sans-serif;
}

.cover {
  inline-size: min(100%, 700px);
  margin-block: var(--padding-title);
  padding-block: 128px;
  border: var(--border-project);
  text-align: center;
  align-content: center;
  background-color: var(--color-white);
}

.cover__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  padding-block-end: 20px;
}

.cover__text {
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  text-transform: uppercase;
}

.content {
  display: flex;
  background-color: inherit;
  justify-content: center;
  font-family: var(--font-project), sans-serif;
}

.content__section {
  background-color: inherit;
  inline-size: min(100%, 700px);
}

.content__card {
  border: var(--border-project);
  margin-block-end: 50px;
  background-color: var(--color-white);
}

.content__image-container {
  position: relative;
}

.content__image-label {
  position: absolute;
  top: 28px;
  right: 25px;
  font-family: var(--accent-font), fantasy, sans-serif;
  font-size: var(--text-size-button);
  line-height: 100%;
  color: rgb(0 0 0 /0.5);
  text-shadow: 1px 1px rgb(255 255 255 /0.5);
}

@supports ((text-stroke: 1px rgb(255 255 255 /0.5);
) or (-webkit-text-stroke: 1px rgb(255 255 255 /0.5); )) {
  .content__image-label {
    text-shadow: none;
    text-stroke: 1px rgb(255 255 255 /0.5);
    -webkit-text-stroke: 1px rgb(255 255 255 /0.5);
  }
}

.content__title {
  background-color: inherit;
  padding-block: 6px;
  padding-inline: 10px;
  line-height: 100%;
  font-size: inherit;
  font-variation-settings: "wght" var(--title-weigh);
}

.content__image {
  object-fit: cover;
  object-position: center;
  border-top: var(--border-project);
  border-bottom: var(--border-project);
  inline-size: 100%;
}

.filter__contrast-grayscale {
  filter: contrast(85%) grayscale(0.7);
}

.filter__saturate {
  filter: saturate(380%);
}

.filter__hue-rotate {
  filter: hue-rotate(30deg);
}

.filter__invert {
  filter: invert(0.7);
}

.filter__sepia {
  filter: sepia(90%);
}

.filter__blur {
  filter: blur(20px);
}

.filter__combined {
  filter: saturate(230%) contrast(60%) hue-rotate(80deg) blur(2px) opacity(0.8)
    sepia(35%) grayscale(0.3);
}

.content__text {
  padding-inline-start: 25px;
  padding-inline-end: 20px;
  padding-block: 22px 5px;
  line-height: 21px;
}

.button__style {
  font-family: var(--accent-font), fantasy, sans-serif;
  font-size: var(--text-size-button);
  color: var(--color-white);
  background-color: currentColor;
  border: var(--border-project);
  cursor: pointer;
}

.button__style:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--color-black);
}

.button__style:after {
  content: "";
  position: absolute;
  inset: 0;
  width: 0%;
  background-color: var(--color-black);
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out, width 0.5s ease-in-out;
}

.button__style:hover:after {
  width: 100%;
  height: 100%;
  transform: scaleX(1);
}

.content__like-container {
  display: flex;
  justify-content: end;
  align-items: start;
  padding-block-start: 20px;
}

.card__like-button {
  position: relative;
  block-size: 37px;
  inline-size: 130px;
  margin-inline-end: 25px;
  margin-block-end: 26px;
  padding-inline-end: 15px;
}

.card__icon-button {
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 0;
  padding-block-start: 3px;
  margin-block-start: 2px;
  margin-inline-end: 7px;
  block-size: 34px;
  inline-size: 38px;
  border: none;
  background-color: inherit;
  transition: box-shadow 0.3s ease;
}

.is-liked {
  animation: bigger-heart 0.3s 0.3s ease-in;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--color-black);
}

.like-icon .contur {
  fill: var(--color-black);
  transition: fill 0.1s linear;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.sparks {
  opacity: 0;
}

.like-icon:hover:not(.is-liked):not(:active) .core {
  fill: var(--color-black);
  transition: fill 0.3s linear;
}

.like-icon:hover:not(.is-liked):not(:active) .main-body {
  fill: var(--color-black);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .main-body {
  fill: var(--color-heart-active);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
  fill: var(--color-heart-active);
  transition: fill 0.3s linear;
}

.is-liked .contur {
  fill: var(--color-heart-active);
  transition: fill 0.3s 0.06s linear;
}

.is-liked .core {
  fill: var(--color-heart-active);
  transition: fill 0.3s linear;
}

.is-liked .main-body {
  fill: var(--color-heart-active);
  transition: fill 0.3s 0.05s linear;
}

.is-liked .sparks {
  animation: sparks-click 0.3s 0.3s ease-in;
}

.footer__button-save {
  display: flex;
  position: relative;
  justify-self: center;
  align-items: center;
  justify-content: center;
  block-size: 55px;
  inline-size: 338px;
  line-height: 90%;
  margin-block-end: 103px;
}

.footer__floppy-disk-image {
  block-size: 1.5em;
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
}

.button__text {
  display: block;
  padding-inline-start: 9px;
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
}

.footer__dialog[open] {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  inline-size: 357px;
  justify-content: center;
  padding-block: 30px;
  padding-inline-start: 25px;
  padding-inline-end: 27px;
}

.footer__dialog-text {
  display: block;
  inline-size: 234px;
  font-family: var(--accent-font), fantasy, sans-serif;
  font-variation-settings: "wght" inherit;
  font-size: var(--text-size-button);
  line-height: 150%;
  text-transform: uppercase;
  margin-inline-start: 20px;
  margin-block-end: 30px;
}

.footer__dialog-button {
  position: relative;
  inline-size: 293px;
  block-size: 38px;
  text-transform: uppercase;
}

.floppy-disk-image {
  margin-block-start: 12px;
  block-size: 2.5em;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

@media (width <=376px) {
  .cover {
    padding-block: 120px;
  }

  .content__card {
    margin-block-end: 51px;
  }

  .content__title {
    padding-block-start: 4px;
    padding-block-end: 3px;
    line-height: 123%;
  }

  .content__image-label {
    top: 25px;
    right: 12px;
  }

  .content__text {
    padding-block-start: 20px;
  }

  .footer__button-save {
    flex-direction: column;
    block-size: 84px;
    inline-size: 310px;
  }

  .footer__floppy-disk-image {
    padding-block-start: 5px;
    width: 31px;
    height: 31px;
  }

  .button__save-text {
    padding-block-start: 10px;
    padding-block-end: 10px;
    padding-inline-end: 8px;
  }

  .footer__dialog[open] {
    inline-size: 341px;
    padding-block: 28px;
    padding-inline-start: 31px;
    padding-inline-end: 2.5px;
    justify-content: start;
  }

  .floppy-disk-image {
    width: 42px;
    height: 41px;
  }

  .footer__dialog-text {
    padding-block-start: 2px;
  }

  .footer__dialog-button {
    inline-size: 257px;
  }
}
